playwright~=1.51.0
pyee~=12.1.1
typing_extensions~=4.12.2
greenlet~=3.1.1
requests~=2.32.3
numpy~=2.2.4
attrs~=25.3.0
cffi~=1.17.1
setuptools~=77.0.3
pytz~=2025.2
charset-normalizer~=3.4.1
overrides~=7.7.0
pandas~=2.2.3
xlrd~=0.7.1
SQLAlchemy~=0.7.10
MarkupSafe~=3.0.2
python-dateutil~=2.9.0.post0
Camelot~=12.6.29
certifi~=2025.1.31
chardet~=5.2.0
urllib3~=2.3.0
six~=1.17.0
psutil~=7.0.0
defusedxml~=0.7.1
Pygments~=2.19.1
idna~=3.10
wcwidth~=0.2.13
pycparser~=2.22
pip~=23.2.1
cryptography~=44.0.2
pillow~=11.1.0
pypdfium2~=4.30.1
pdfplumber~=0.11.5